.div_header_container {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ECEBF3;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 70%;
    border-radius: 999px;
    overflow: hidden;
}

.nav_single_item {
    text-decoration: none;
    border: none;
    background-color: #aca7a1;
    border-radius: 10px;
    color: #423E37;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}

.nav_single_item:hover {
    background-color: #423E37;
    color: #aca7a1;
    transition: 200ms;
}