@font-face {
    font-family: Unbounded;
    src: url(./fonts/Unbounded-VariableFont_wght.ttf);
}

body {
    font-family: "Unbounded";
    color: #F1E4F3;
    font-weight: 300;
    background-color: #423E37;
}

.header_index {
    background-color: #C05746;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header_content {
    line-height: .30;
}

.header_title {
    font-weight: 500;
    font-size: 150px;
}

.header_subtitle {
    font-weight: 500;
    font-size: 75px;
}

.summary {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: larger;
    text-align: center;
}

.footer {
    background-color: #C05746;
    border-radius: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
}

.social_icon {
    width: 35px;
    text-decoration: none;
    background-color: #C05746;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}

.social_icon:hover {
    background-color: #F1E4F3;
    transition: 200ms;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.leftover_menu_space {
    padding: 8px;
}

@media only screen and (max-width: 768px) {
    .header_content {
        line-height: 1;
    }

    .header_title {
        font-size: 75px;
    }

    .header_subtitle {
        font-size: 37px;
    }
}